body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #E6E6FA;
}
#logo {
    height: 400px;
    width: 500px;
    align-items: center;
    align-content: center

}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

 #footer {
    padding: 30px;
    background: rgb(30, 30, 30);
    color: lightgrey;
  }

  #footer a {
    color: lightgrey;
    font-size: 15px;
  }
  #footer a:hover {
    color: white;
  }
  